*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }
body{
    width: 100%;
    min-height: 100%;
    background-image: url('../images/img1.png');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */
.principal-container{
    margin-top: 20px;
    height: 100%;
    width: 80vw;
    display: grid;
}
.cards-container{
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url("https://images6.alphacoders.com/676/thumb-1920-676334.jpg");
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    padding: 16px;
    gap: 10px;
}
.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1500ms;
}
.front{
    /* 164px */
    width: 100%;
    height: 250px;
    position: absolute;
    /* background-image: url('../images/craiyon_200714__playing_card_backface_cartoon_design.png'); */
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
}
.back{
    width: 100%;
    height: 250px;
    /* background-image: url(../images/img1.png); */
    background-size: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.actived{
    transform: rotateY(180deg);
}

/* buttons  */
.buttons{
    padding-top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.buttons button{
    width: 100px;
    height: 80%;
    padding: 5px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: rgba(239, 123, 123, 0.54);
}
.result{
    color: white;
    font-weight: 600;
    font-size: 50px;
    position: absolute; 
    top: 40vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px;
    z-index: 99;
    text-shadow: 1px 0px 20px rgb(239, 123, 123),1px 0px 20px rgb(239, 123, 123),1px 0px 20px rgb(239, 123, 123), 1px 0px 20px rgb(239, 123, 123) ;
}
.matched{
    transform: rotateY(180deg);
}

/* result text  */
.result_text{
    transition: 1s;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    font-size: 60px;
    width: 225px;
     margin: calc((100vh - 69px)/2) calc((100vw - 225px)/2); /*calculate the margin using 100vw and the element width */
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(255, 0, 51),
      0 0 80px rgb(255, 0, 0),
      0 0 90px rgb(255, 85, 0),
      0 0 100px rgb(255, 106, 0),
      0 0 150px rgb(255, 183, 0);
}

/* timer */
.timer{
    font-size: 40px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(255, 0, 51),
      0 0 80px rgb(255, 0, 0),
      0 0 90px rgb(255, 85, 0),
      0 0 100px rgb(255, 106, 0),
      0 0 150px rgb(255, 183, 0);
}
