*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
  }
body {
    min-height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    background-color: #262626;      
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}
p, h1, span{
    font-weight: 600;
    color: #DAC7A7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  */
.principal-container{
    margin-top: 20px;
    height: 100%;
    width: 80vw;
    display: grid;
}
.cards-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    min-height: 500px;
    width: 100%;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    gap: 10px;
}
.card{
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
}
.front{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    border: 2px solid #DAC7A7;
}
.back{
    border: 3px solid #DAC7A7;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-position: center;
}
.actived{
    transform: rotateY(180deg);
}

/* buttons  */
.buttons{
    padding-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    transition: 1.5s;
}
.buttons button{
    width: 250px;
    height: 50px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #DAC7A7;
    border: none;
    border: 2px solid #DAC7A7;
    border-radius: 12px;
    background-color: rgba(239, 123, 123, 0.54);
}
.buttons > button:hover{
    background-color: #69463e;
}
.result{
    color: #DAC7A7;
    font-weight: 600;
    font-size: 50px;
    position: absolute; 
    top: 40vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    z-index: 99;
    text-shadow: 1px 0px 20px rgb(239, 123, 123),1px 0px 20px rgb(239, 123, 123),1px 0px 20px rgb(239, 123, 123), 1px 0px 20px rgb(239, 123, 123) ;
}
.matched{
    transform: rotateY(180deg);
}

/* result text  */
.result_text{
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    width: max-content;
}

/* timer */
.timer_container{
    display: none;
}
.timer{
    text-align: center;
    width: max-content;
    height: 50px;
    background-color: rgba(239, 123, 123, 0.54);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 2px solid #DAC7A7;
}
/* score  */
.score{
    width: max-content;
    height: 50px;
    background-color: rgba(239, 123, 123, 0.54);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 2px solid #DAC7A7;
    display: none;
}
@media (max-width:650px) {
    .cards-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        height: 200px;
    }
    .buttons{
        flex-direction: column;
    }
    .buttons .timer_container{
        order: 1;
    }
    .buttons .score{
        order: 2;
    }
    .buttons .restart{
        order: 3;
    }
}
.displayed{
    display: flex;
}